body {
    margin: 0;
}
.container {
    border: 6px solid black;
    display: flex;
    height: 400px;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* flex-flow: row-reverse wrap; */
    /* column-gap: 20px; */
    /* row-gap: 30px; */
    /* gap: 40px 20px; */
    /* justify-content: center; */
    /* align-items: baseline; */
    /* align-content: space-around; */

}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    /* width: 6rem; */
}
.item-1 {
    background-color: yellow;
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
    align-self: flex-start;
}
.item-2 {
    background-color: orange;
    align-self: flex-end;
} 
.item-3 {
    background-color: darkcyan;
    align-self: center;
}
.item-4 {
    background-color: gray;
    /* flex-shrink: 4; */
    align-self: stretch;
}
.item-5 {
    background-color: maroon;
}
.item-6 {
    background-color: lightpink;
}
.item-7 {
    background-color: lightblue;
}
.item-8 {
    background-color: darkblue;
}
.item-9 {
    background-color: greenyellow;
}
